<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="shortcut icon" href={{ url_for('static', filename='img/Screenshot_2024-03-10_23-25-16-removebg-preview.png') }} type="image/x-icon">
    <script src="https://kit.fontawesome.com/cdf7b08825.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container mx-auto max-w-full bg-gray-50 min-h-screen text-center">
      <br>
      <br>
      <br>
      <section class="rounded me-[30%] ms-[30%] bg-[#212529]">
        <div class="rounded text-center bg-[#0B5ED7] h-[8rem] flex justify-center items-center">
          <img src="{{ url_for('static', filename='img/Black_Circle_Icon_Internet_Logo-removebg-preview.png') }} " alt="todoplus" class='h-[100px] w-[100px] mx-auto'>
        </div>
        <h1 class='me-3 ms-3 mt-3 mb-3 text-center fw-bold title-forgot-password text-[#F8F9FA] text-[24px] font-bold'>Reset Password</h1>
        <p class="text-[#808080] text-[14px]">Please Enter Your Account Details</p>
        <form class="px-5" method="post">
          <div class="text-left">
            <label for="password" class="text-[#F8F9FA] text-[14px] pb-3 block pt-1">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="border-0 focus:outline-none rounded w-full px-4 h-[2.4rem]"/>
          </div>
          {% if password_error %}
            <p class='text-[#DC3545] text-[14px] text-left'>{{ password_error }}</p>
          {% endif %}
          <div class="text-left">
            <label for="confirm_password" class="text-[#F8F9FA] text-[14px] pb-3 block pt-1">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm Password" class="border-0 focus:outline-none rounded w-full px-4 h-[2.4rem]"/>
          </div>
          {% if confirm_password_error %}
            <p class='text-[#DC3545] text-[14px] text-left'>{{ confirm_password_error }}</p>
          {% endif %} 
          <button type="submit" class='text-[#F8F9FA] rounded w-full mb-5 mt-3 h-[2rem] bg-[#0B5ED7]'>Reset Password</button>
        </form>
      </section>
    </div>
  </body>
</html>
