@mixin text-forgot-password ($font-size, $color) {
    font-size: $font-size;
    color: $color;
    text-decoration: none;
}

body {
    .container-fluid {
        min-height: 100vh;
        background-color: #FBFBFB;
        .border-forgot-password {
            width: 35%;
            .border-img {
                width: 100%;
                margin: auto;
                text-align: center;
                background-color: #0B5ED7;
                img {
                    width: 20%;
                    height: 20%;
                }
            }
            h1.text-title {
                font-size: 25px;
            }
            p.description-forgot-password {
                @include text-forgot-password(14px, grey);
            }
            form[class^="m"] {
                button.btn {
                    width: 100%;
                }
                a {
                    @include text-forgot-password(14px, none);
                }
                [class^="mb"] {
                    .form-label {
                        @include text-forgot-password(14px, none);
                    }
                }
            }
        }
    }
}